<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ page.url | prepend: site.main.url }}">

{% include 'components/favicons' %}

{% include 'components/style' %}

{% if title %}
<title>{{ title }} | {{ site.main.title }}</title>
{% else %}
<title>{{ site.main.title }} | {{ site.main.description }}</title>
{% endif %}