<div class="videoLinksItem">
    <a class="videoLinksImage" href="{{ item.url }}" title="{{ item.data.title | escape }}">
        <amp-img src="{{ item.data.image }}" width="480" height="270" layout="responsive"></amp-img>
    </a>
    <div class="videoLinksDescription">
        <p class="videoLinksDescriptionTitle">
            <a href="{{ item.url }}" title="{{ item.data.title | escape }}">{{ item.data.title | escape }}</a>
        </p>
        <p><span>{{ item.data.channel.name | upcase }}</span></p>
        <p><time datetime="{{ item.data.publishedAt }}">{{ item.data.publishedAt | dateReadable }}</time></p>
    </div>
</div>