---
layout: layout/layout
eleventyComputed:
    id: '{{ video.snippet.resourceId.videoId }}'
    title: '{{ video.snippet.title }}'
    description: '{{ video.snippet.description }}'
    publishedAt: '{{ video.snippet.publishedAt }}'
    image: '{{ video.snippet.thumbnails.high.url }}'
    channel:
        name: '{{ video.snippet.channelTitle }}'
        url: '{{ video.snippet.channelId | prepend: "https://www.youtube.com/channel/" | append: "?sub_confirmation=1" }}'
permalink: '/v/{{ video.snippet.resourceId.videoId | slug }}.html'
---
<div id="videoLayout">
    <div id="videoPlayer">
        <amp-youtube data-videoid="{{ id }}" layout="responsive" width="480" height="270" title="{{ title | escape }}" data-param-modestbranding="1" data-param-rel="0" dock>
            <amp-img src="{{ image }}" layout="fill" placeholder></amp-img>
        </amp-youtube>
        <div id="videoDescription">
            <h1>{{ title }}</h1>
            <p id="date"><time datetime="{{ publishedAt }}">{{ publishedAt | dateReadable | prepend: 'Dipublikasikan pada ' }}</time></p>
            <div id="channel-name">
                <h2 id="channel-title">{{ channel.name | upcase }}</h2>
                <a href="{{ channel.url }}" target="_blank" rel="nofollow"><div class="yt-icon"></div></a>
            </div>
            <p id="description">{{ content | newline_to_br }}</p>
        </div>
    </div>
    <div id="videoLinks">
        <h1>Tonton Lainnya</h1>
        {% assign related = collections.video | shuffle %}
        {% for item in related limit: 16 %}
        {% include 'components/video-links-item' %}
        {% endfor %}
    </div>
</div>