---
layout: layout/layout
---
<div id="videoLayout">
    <div id="videoPlayer">
        <amp-youtube data-videoid="{{ id }}" layout="responsive" width="480" height="270" title="{{ title }}" data-param-modestbranding="1" data-param-rel="0" dock>
            <amp-img src="{{ image }}" layout="fill" placeholder></amp-img>
        </amp-youtube>
        <div id="videoDescription">
            <h1>{{ title }}</h1>
            <p id="date"><time datetime="{{ publishedAt }}">{{ publishedAt | dateReadable | prepend: 'Dipublikasikan pada ' }}</time></p>
            <p id="description">{{ content }}</p>
            <p id="channel-name">
                <span class="font-bold"><a href="#">{{ channel.name }}</a></span>
            </p>
        </div>
    </div>
    <div id="videoLinks">
        {% assign related = collections.video | shuffle %}
        {% for item in related limit: 8 %}
        {% include 'components/video-links-item' %}
        {% endfor %}
    </div>
</div>