<div class="indexCarousel">
    <h1>{{ carouselTitle }}</h1>
    {% for post in posts limit: amount %}
    <div class="indexCarouselItem {% if forloop.index > 6 %}hidden lg:block{% elsif forloop.index > 4 %}hidden md:block{% else %}block{% endif %}">
        <a href="{{ post.url }}" title="{{ post.data.title }}">
            <amp-img src="{{ post.data.image }}" width="480" height="270" layout="responsive" alt="{{ post.data.title }}"></amp-img>
        </a>
        <div class="indexCarouselDesc">
            <h1><a href="{{ post.url }}" title="{{ post.data.title }}">{{ post.data.title | truncate: 50 }}</a></h1>
            <p>{{ post.data.channel.name | upcase }}</p>
            <p>{{ post.data.publishedAt | dateReadable }}</p>
        </div>
    </div>
    {% endfor %}
</div>